/* Container principal da tela de login */
.login-box {
    background-color: #022859;
    max-width: 750px;
}

/* Fundo da coluna do logotipo */
.bg-image {
    background-color: #022859;
}

/* Campo de formulário */
.form-control {
    border-radius: 6px;
}

/* Cor personalizada para texto (igual ao fundo do box) */
.text-custom-color {
    color: #022859 !important;
}

/* Fundo principal da aplicação da web */
.bg-custom {
    background-color: #022859;
    min-height: 100vh;
}

/* Estilo da sidebar do dashboard */
.bg-sidebar {
    background-color: #022859;
    width: 250px;
    min-height: 100vh;
}

/* Barra superior do dashboard */
.bg-topbar {
    background-color: #022859;
}

/* Tamanho do logotipo no topo do dashboard */
.navbar img {
    max-height: 60px;
}

/* Botões do menu lateral do dasboard */
.btn-sidebar {
    background-color: white;
    color: #022859;
    border: 1px solid white;
    font-weight: 500;
}

.btn-sidebar:hover {
    background-color: #022859;
    color: white;
    border: 1px solid white;
    font-weight: 500;
}


/* Botões com a cor padrão da aplicação da web */
.btn-blue-marine {
    background-color: #022859;
    color: white;
    border: 1px solid #022859;
}

.btn-blue-marine:hover {
    background-color: white;
    color: #022859;
    border: 1px solid #022859;
}

/* Botão de logout do menu lateral do dasboard */
.btn-sidebar-logout {
    background-color: red;
    color: white;
    border: 1px solid red;
    font-weight: 500;
}

.btn-sidebar-logout:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
    font-weight: 500;
}

/* Sinaliza campos obrigatórios nos formulários */
.required {
    color: red;
}

/* Linha divisória entre o formulário de login e logotipo */
.border-end-custom {
    border-right: 2px solid #ffffff44;
}

/* Texto do conteúdo principal */
.container-fluid {
    color: white;
}

/* Centraliza verticalmente o botão de fechar do alerta */
.alert .btn-close {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}